{% extends "::base.html.twig" %}

{% block title %}Accueil {% endblock %}

{% block head %} {{ parent() }} {% endblock %}


{% block body %}
{% block header %} {{ parent() }} {% endblock %}

<div id='search_login'>
	{% block menu_auth %} {{ parent() }} {% endblock %}
</div>


<div id="main_div">
	<div id='contents'>
		<section id="menu_category_slide">
			<div id='menu_category'>
				<div id="container">
					<div id="displayList">
						<ul>
							{% set i = 1 %}

							{% for categorie in categorieRanger %}
							<li><a id="listDiv{{i}}" data-id='{{i}}' href="{{ path('products_category',  { 'id': categorie.id}) }}"> {{categorie.name}}</a></li>
							{% set i = i + 1 %}
							{% endfor %}
						</ul>
					</div>
				</div>
				<div id="allDiv">
					{% set i = 1 %}

					{% for category in categorieRanger %}
					<div data-id='{{i}}' id="div{{i}}" class='sousmenu'>


						{% if category.children is defined %}
						{% for category in category.children %}
						<a href="{{ path('products_category',  { 'id': category.id}) }}"><span>{{category.name}}</span></a>

						{% endfor %}
						{% endif %}
					</div>

					{% set i = i + 1 %}
					{% endfor %}


				</div>
			</div>

			<div id="slider">
				<img class="slide" src="{{ asset('uploads/fixtures/mac.png') }}"/>
			</div>
			<!-- <a href="#">
			<div id="slides">
			<img class="slide" src="{{ asset('images/slide_brute/hightech.jpg') }}"/>
			<img class="slide" src="{{ asset('images/slide_brute/slide1.jpeg') }}"/>
			<img class="slide" src="{{ asset('images/slide_brute/slide2.JPG') }}" />
			<img class="slide" src="{{ asset('images/slide_brute/slide3.jpg') }}" />
			<img class="slide" src="{{ asset('images/slide_brute/slide4.jpg') }}"/>
			</div>
			</a>
			<img id="leftArrow" class="arrow" src="{{ asset('images/arrowLeft.svg') }}"/>
			<img id="rightArrow" class="arrow" src="{{ asset('images/arrowRight.svg') }}"/>
			<div id="bullets"/> -->

		</section>

		<section id="button_div">
			<div id="categories">
				{% if  categories is not empty %}
				{% for category in categories %}
				<div class='category_preview'>
					<img class='cat_preview' src={{ asset('uploads/') }}{{category.medias[0].path}}/>
					<a class='cat_title_preview' href="{{ path('products_category',  { 'id': category.id}) }}"><span class=''>{{ category.name}}</span></a>
				</div>
				{% endfor %}

				{% endif%}

			</div>
			<div class="promo">

			</div>
			<div class="other">

			</div>
		</section>

		<section id="pst_div">
<!-- <div id="pst_slide">
<a href="#">
<div id="pst_slides">
<img class="pst_slide" src="{{ asset('images/slide_brute/elec.jpg') }}"/>
<img class="pst_slide" src="{{ asset('images/slide_brute/slide1.jpeg') }}"/>
<img class="pst_slide" src="{{ asset('images/slide_brute/slide2.JPG') }}" />
<img class="pst_slide" src="{{ asset('images/slide_brute/slide3.jpg') }}" />
<img class="pst_slide" src="{{ asset('images/slide_brute/slide4.jpg') }}"/>
</div>
</a>
<img id="gaucheArrow" class="fleches" src="{{ asset('images/arrowLeft.svg') }}"/>
<img id="droiteArrow" class="fleches" src="{{ asset('images/arrowRight.svg') }}"/>
<div id="points"/> -->
</div>
</div>
</section>
</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/menu.js') }}"></script>

{{ parent() }}
{% endblock %}
