{% extends "::base.html.twig" %}

{% block title %}Accueil {% endblock %}

{% block head %} {{ parent() }} {% endblock %}


{% block body %}
{% block header %} {{ parent() }} {% endblock %}

<div id='search_login'>
	{% block menu_auth %} {{ parent() }} {% endblock %}
</div>


<div id="main_div">
	<div id='contents' class='view_product'>

		<div  class='arbre'>
			<a href="{{ path('ecommerce_homepage')}}"><img  src="{{ asset('images/home.png') }}"/></a>
			{% for category in app.session.get('path') %}
			<span>|</span><a class='path' href="{{ path('products_category',  { 'id': category.id}) }}"><span class=''>{{ category.name}}</span></a>
			{%endfor%}

			<a href=""></a>
		</div>
		{% set one = product.productsDerived[0].id%}

		<span id='title_product'>{{product.name}}</span>
		<div id='info_cart'>
			<div id='images'>
				<div id='view_img'>
					<img src={{ asset('uploads/') }}{{product.productsDerived[0].medias[0].path}}/>
				</div>
				<div id='gallery'>
					{% for media in product.productsDerived[0].medias %}
					<div class='thumb'>
						<img src={{ asset('uploads/') }}{{media.path}}/>
					</div>
					{%endfor%}
				</div>
			</div>
			<div id='cart'></div>
		</div>
		<div id='description'>
			<p>{{product.description}}</p>
		</div>
		<div id='summary'>
			<p>{{product.summary}}</p>
		</div>

		<div id='productDerived' >



			{% for derived in product.productsDerived%}

			{% if derived.id != one %}
			<div class='derived'>
				{% for media in derived.medias %}
				<div class='thumb'>
					<img src={{ asset('uploads/') }}{{media.path}}/>
				</div>
				{%endfor%}
				<p>{{derived.nameDerived}}</p>
				<div>{{derived.price}} $</div>


			</div>
			{%endif%}
			{%endfor%}

		</div>
	</div>
</div>
{%endblock%}