<div class='category_item'>

	<form class="form_delete" action="{{ path('admin_delete_category', {'id' :category.id}) }}" method="post" }}>

		<h4 class='name_category'> {{category.name}} </h4>
		<input border=0 src="/images/delete.svg" type=image value=submit align="middle"/>
	</form>
	<div class='medias_category' >
		{% for medias in category.medias %}
		<img src={{ asset('uploads/') }}{{medias.path}} class='hidden' />
		{% endfor %}

		{% if category.children is defined %}
		{% for category in category.children %}
		      <a href="{{ path('admin_products_category',  { 'id': category.id }) }}"><span>{{category.name}}</span></a>

		{% endfor %}
		{% endif %}
	</div>
</div>
